<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">

            <form class="mt-4" (ngSubmit)="requestReset()">
              <!-- <div class="mb-4" style="align-content: center;text-align: center;">
                <img src="assets/logo.png" [routerLink]="['/auth/login']" height="60" alt="Logo xxxx">
              </div> -->
              <h3>Restablecer Contraseña</h3>
              <p class="text-muted">Introduzca su email para recibir el correo de restablecimiento.
                <!-- o vuelva a la página
                <a [routerLink]="['/auth/login']">anterior</a>. -->
              </p>
              <div class="mb-3">
                <!-- <label for="correo">Email:</label> -->
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Email"
                  [(ngModel)]="email"
                  required
                />
              </div>
              <p class="text-danger" id="errorInfo"></p>
              <div class="d-flex">
                <button type="submit" class="btn btn-primary me-2">Enviar</button>
                <!-- <a class="btn btn-secondary" [routerLink]="['/auth/login']" role="button">Login</a> -->
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
